.SelectionFrame{
    border: 4px solid #f3d34a;
    height: 260px;
    width: 173px;
    top: 11px;
    /*left: 77px;*/
    position: absolute;
    z-index: 10;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
}

.MovieTrailerCarousel{
    height: 290px;
    width: 100%;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}